[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
fastapi = "*"
pydantic = "*"
matplotlib = "*"
opencv-python = "*"
python-multipart = "*"
python-dotenv = "*"
gunicorn = "*"
uvicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
